body {
    background-color: #202124;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1 {
  font-size: 35px;
  padding-bottom: 35px;
}

h2 {
  font-size: 23px;
  color: #8AB4F8
}
